<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="html(title, head, content)" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <title>Flightlog[[ ${#strings.length(title) > 1 ? (' // ' + title) : ''} ]]</title>

    <link rel="icon" th:href="@{/assets/flightlog/icons/plane.png}" />
    <link rel="shortcut icon" th:href="@{/assets/flightlog/icons/plane.png}" />

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/fomantic-ui/dist/semantic.min.js}"></script>
    <script th:src="@{/webjars/openlayers/ol.js}"></script>
    <script th:src="@{/assets/flightlog/js/flight-details.js}"></script>

    <link rel="stylesheet" th:href="@{/webjars/fomantic-ui/dist/semantic.min.css}" />
    <link rel="stylesheet" th:href="@{/webjars/openlayers/ol.css}" />
    <link rel="stylesheet" th:href="@{/assets/flightlog/css/flightlog.css}" />

    <div th:if="${#strings.length(head) > 1}" th:replace="${head}">Additional header content</div>
  </head>
  <body th:class="${#strings.isEmpty(bodyClass) ? 'default' : bodyClass}">

    <input type="hidden" id="flightlogRootUrl" th:value="@{/}" />

    <header class="ui inverted menu">
      <div class="active item">
        <i class="plane icon"></i> &nbsp; <strong>Flightlog</strong>
      </div>
      <div th:replace="~{layout/default/navigation :: navigation-menu-items}">Navigation items</div>
    </header>

    <div class="main">
      <div th:replace="${content}">Template content</div>
      <footer th:replace="~{layout/default/footer :: footer}">Footer</footer>
    </div>

    <script type="text/javascript">
      $('.ui.dropdown').dropdown();
      $('.ui.checkbox').checkbox();
    </script>

  </body>
</html>
