<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

    <div th:fragment="navigation-menu-items-desktop" th:remove="tag">
      <a tabindex="-1" class="mobile hidden item" th:href="@{/overview}">
        <i class="home icon"></i>
        <span th:text="#{overview}">Overview</span>
      </a>
      <a tabindex="-1" class="mobile hidden item" th:href="@{/flights/add}">
        <i class="plus icon"></i>
        <span th:text="#{addFlight}">Add flight</span>
      </a>
    </div>

  </body>
</html>
