<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HHmmss} | %-5level @ %logger{1} | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.apache.http" level="WARN" />
    <logger name="org.apache.tomcat.util.scan.StandardJarScanner" level="ERROR" />
    <logger name="org.flywaydb" level="INFO" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.hibernate.jpa" level="WARN" />
    <logger name="org.hibernate.validator" level="WARN" />
    <logger name="org.jboss.logging" level="WARN" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.boot.context.web.ErrorPageFilter" level="OFF" />
    <logger name="_org.springframework" level="WARN" />

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>