<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HHmmss} | %-5level @ %logger | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.hibernate.jpa" level="WARN" />
    <logger name="org.hibernate.validator" level="WARN" />
    <logger name="org.jboss.logging" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>