<!DOCTYPE html>
<html>
  <body th:remove="tag">

    <h3 th:text="#{filterFlights}">Filter flights</h3>

    <form id="overviewQuery" class="ui form" method="post" th:action="@{/overview}" th:object="${overviewQuery}">
      <div class="ui dense grid">
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{year}">Year</label>
            <select th:field="*{restrictYears}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allYears}"></option>
              <option th:each="option : ${overviewQueryValues.years}" th:value="${option.value}" th:text="${option.title.value}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{airline}">Airline</label>
            <select th:field="*{restrictAirlineCodes}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allAirlines}"></option>
              <option th:each="option : ${overviewQueryValues.airlines}" th:value="${option.value}" th:text="${option.title.value}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{airport}">Airport</label>
            <select th:field="*{restrictAirportCodes}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allAirports}"></option>
              <option th:each="option : ${overviewQueryValues.airports}" th:value="${option.value}" th:text="${option.title.value}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{aircraftType}">Aircraft type</label>
            <select th:field="*{restrictAircraftTypes}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allAircraftTypes}"></option>
              <option th:each="option : ${overviewQueryValues.aircraftTypes}" th:value="${option.value}" th:text="${option.title.value}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{cabinClass}">Cabin class</label>
            <select th:field="*{restrictCabinClasses}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allCabinClasses}"></option>
              <option th:each="option : ${overviewQueryValues.cabinClasses}" th:value="${option.value}" th:text="${#messages.msg(option.title.key)}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{flightReason}">Flight reason</label>
            <select th:field="*{restrictFlightReasons}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allFlightReasons}"></option>
              <option th:each="option : ${overviewQueryValues.flightReasons}" th:value="${option.value}" th:text="${#messages.msg(option.title.key)}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{flightDistance}">Flight distance</label>
            <select th:field="*{restrictFlightDistances}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allFlightDistances}"></option>
              <option th:each="option : ${overviewQueryValues.flightDistances}" th:value="${option.value}" th:text="${#messages.msg(option.title.key)}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile sixteen wide tablet sixteen wide computer column">
          <div class="field">
            <label th:text="#{flightType}">Flight type</label>
            <select th:field="*{restrictFlightTypes}" multiple class="ui fluid dropdown">
              <option value="" th:text="#{allFlightTypes}"></option>
              <option th:each="option : ${overviewQueryValues.flightTypes}" th:value="${option.value}" th:text="${#messages.msg(option.title.key)}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide column">
          <a class="ui fluid button" th:href="@{/overview}">
            <i class="undo icon"></i>
            <span th:text="#{reset}"></span>
          </a>
        </div>
        <div class="eight wide column">
          <button type="submit" class="ui fluid primary button">
            <i class="filter icon"></i>
            <span th:text="#{filter}"></span>
          </button>
        </div>
      </div>
    </form>

  </body>
</html>
