<!DOCTYPE html>
<html>
  <body th:remove="tag">

      <div id="map" class="map" tabindex="0"></div>
      <script >

        const tileLayer = new ol.layer.Tile({
          source : new ol.source.OSM()
        });

        const map = new ol.Map({
          target : 'map',
          projection: "EPSG:3857",
          layers : [
            tileLayer
          ],
          view: new ol.View({
            center: ol.proj.fromLonLat([0, 25]),
            zoom: 1.85
          }),
          controls: []
        });

        map.render();

        $(document).ready(async function() {

          const routesDataResponse = await fetch($("#flightlogRootUrl").val() + "overview/api/routes", {
            method: "post",
            body: new FormData(document.getElementById("overviewQuery"))
          });
          const routesDataRoot = await routesDataResponse.json();

          // PAINT ROUTES

          const routesSource = new ol.source.Vector();
          for (let routesItem of routesDataRoot.items) {

            const startLongitude = routesItem.departurePoint.longitude;
            const startLatitude = routesItem.departurePoint.latitude;
            const endLongitude = routesItem.arrivalPoint.longitude;
            const endLatitude = routesItem.arrivalPoint.latitude;

            const arcGenerator = new arc.GreatCircle(
              {x: startLongitude, y: startLatitude},
              {x: endLongitude, y: endLatitude}
            );
            const arcLine = arcGenerator.Arc(100 /* number of vertices */, {offset: 10});

            for (let j = 0; j < arcLine.geometries.length; j++) {

              const line = new ol.geom.LineString(arcLine.geometries[j].coords);
              line.transform(ol.proj.get('EPSG:4326'), ol.proj.get('EPSG:3857'));

              const routeStyle = new ol.style.Style({
                stroke: new ol.style.Stroke({
                  color: '#444444',
                  width: routesItem.weight
                })
              });

              const routeFeature = new ol.Feature({
                geometry: line,
                width: routesItem.weight
              });
              routeFeature.setStyle(routeStyle);
              routesSource.addFeature(routeFeature);

            }
          }

          map.addLayer(new ol.layer.Vector({ source: routesSource }));

          // PAINT AIRPORTS

          const airportsSource = new ol.source.Vector();
          for (let routesAirport of routesDataRoot.uniqueAirports) {

            const airportFeature = new ol.Feature({
              geometry: new ol.geom.Point(ol.proj.transform([routesAirport.longitude, routesAirport.latitude], 'EPSG:4326', 'EPSG:3857')),
            });

            const airportStyle = new ol.style.Style({
              image: new ol.style.Circle({
                radius: 2,
                fill: new ol.style.Fill({
                  color: 'rgba(10,10,10,0.5)'
                }),
                stroke: new ol.style.Stroke({
                  color: 'rgba(10,10,10,0.8)',
                  width: 3
                })
              }),
              text: new ol.style.Text({
                text: routesAirport.airportCode,
                fill: new ol.style.Fill({
                  color: '#000000'
                }),
                stroke: new ol.style.Stroke({
                  color: '#FFFFFF',
                  width: 2
                })
              })
            });
            airportFeature.setStyle(airportStyle);
            airportsSource.addFeature(airportFeature);

          }

          map.addLayer(new ol.layer.Vector({ source: airportsSource }));

        });

      </script>

  </body>
</html>
