<!DOCTYPE html>
<html>
  <body>

    <div th:fragment="totals-top" class="ui grid">
      <div class="sixteen wide mobile eight wide tablet five wide computer column">
        <h3 th:text="#{flightTotals}">Flight totals</h3>
        <div th:replace="~{overview/statistics :: statistics-table(${overviewStatistics.flightTotals})}">FILTERS</div>
      </div>
      <div class="sixteen wide mobile eight wide tablet five wide computer column">
        <h3 th:text="#{distances}">Flights by distance</h3>
        <div th:replace="~{overview/statistics :: statistics-table(${overviewStatistics.flightsByDistance})}">FILTERS</div>
      </div>
      <div class="sixteen wide mobile eight wide tablet six wide computer column">
        <h3 th:text="#{otherStatistics}">Other statistics</h3>
        <div th:replace="~{overview/statistics :: statistics-table(${overviewStatistics.otherStatistics})}">FILTERS</div>
      </div>
    </div>

    <div th:fragment="totals-bottom" class="ui grid">
      <div class="sixteen wide mobile eight wide tablet five wide computer column">
        <h3 th:text="#{cabinClasses}">Cabin classes</h3>
        <div th:replace="~{overview/statistics :: statistics-table(${overviewStatistics.flightsByCabinClasses})}">FILTERS</div>
      </div>
      <div class="sixteen wide mobile eight wide tablet five wide computer column">
        <h3 th:text="#{flightReasons}">Flight reasons</h3>
        <div th:replace="~{overview/statistics :: statistics-table(${overviewStatistics.flightsByFlightReasons})}">FILTERS</div>
      </div>
      <div class="sixteen wide mobile eight wide tablet six wide computer column">
        <h3 th:text="#{seatTypes}">Seat types</h3>
        <div th:replace="~{overview/statistics :: statistics-table(${overviewStatistics.flightsBySeatTypes})}">FILTERS</div>
      </div>
    </div>

    <div th:fragment="statistics-table(valuesList)">
      <table class="ui very basic compact unstackable table">
        <tbody>
          <tr th:each="value : ${valuesList}">
            <td th:text="${#strings.isEmpty(value.title.key) ? value.title.value : #messages.msg(value.title.key)}"></td>
            <td th:if="${not #strings.isEmpty(value.description)}">
              <small th:text="${#strings.isEmpty(value.description.key) ? value.description.value : #messages.msg(value.description.key)}"></small>
            </td>
            <td class="right aligned" th:text="${value.valueString}"></td>
            <td width="50" class="right aligned" th:if="${value.percentage != null}">
              <span th:if="${value.percentage > 0}">
                (<span th:text="${value.percentageString}">XX</span>&nbsp;%)
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
