<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: html(_, _, ~{::main})}">
  <body>
    <main>

      <h3 class="ui header">
        <i class="add square icon"></i>
        <div class="content">
          <span th:text="#{addFlight}"></span>
          <div class="sub header" th:text="#{addDetailsForNewFlight}"></div>
        </div>
      </h3>

      <div th:replace="~{flights/include/flight-lookup :: selection-list}">Flight selection</div>
      <div th:replace="~{flights/include/flight-lookup :: selection-form}">Flight lookup</div>

      <form class="ui form" method="post" th:action="@{/flights/add/submit}" th:object="${flightEditor}">
        <div th:replace="~{flights/include/flight-details :: form-body}">Form Body</div>
      </form>

    </main>
  </body>
</html>
