<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: html(_, _, ~{::main})}">
  <body>
    <main>

      <h3 class="ui header">
        <i class="paper plane icon"></i>
        <div class="content">
          <span th:text="#{listFlights}"></span>
          <div class="sub header" th:text="#{allLoggedFlights}"></div>
        </div>
      </h3>
      <div class="ui divider"></div>

      <div class="ui segments">
        <div th:each="flight, flightStatus : *{flights}" class="ui segment">
          <div class="ui dense grid">
            <div class="eight wide mobile four wide tablet four wide computer column">
              <span th:text="${#temporals.format(flight.departureContact.dateLocal, 'dd.MM.yyyy')}"></span>
              <span th:text="${#temporals.format(flight.departureContact.timeLocal, 'HH:mm')}"></span>
              <br />
              <strong><span th:text="${flight.departureContact.airport.code}">XXX</span></strong>
              <i class="flag" th:classappend="${#strings.toLowerCase(flight.departureContact.airport.countryCode)}"></i>
              <br />
              <small><span class="smalltext" th:text="${flight.departureContact.airport.name}">Airport name</span></small>
            </div>
            <div class="eight wide mobile four wide tablet four wide computer column">
              <span th:text="${#temporals.format(flight.arrivalContact.dateLocal, 'dd.MM.yyyy')}"></span>
              <span th:text="${#temporals.format(flight.arrivalContact.timeLocal, 'HH:mm')}"></span>
              <span th:if="${flight.arrivalContact.dateOffset}">
                (<span th:text="${flight.arrivalContact.dateOffset}">+0</span>)
              </span>
              <br />
              <strong><span th:text="${flight.arrivalContact.airport.code}">XXX</span></strong>
              <i class="flag" th:classappend="${#strings.toLowerCase(flight.arrivalContact.airport.countryCode)}"></i>
              <br />
              <small><span class="smalltext" th:text="${flight.arrivalContact.airport.name}">Airport name</span></small>
            </div>
            <div class="eight wide mobile four wide tablet three wide computer column">
              <span th:text="${flight.airline.name}"></span>
              <br />
              <strong><span th:text="${flight.airline.code}"></span> <span th:text="${flight.flightNumber}"></span></strong>
              <br />
              <span th:text="${flight.aircraft.type}"></span>
              <span th:if="${not #strings.isEmpty(flight.aircraft.registration)}">
                <br /> <span th:text="${flight.aircraft.registration}"></span>
              </span>
              <span th:if="${not #strings.isEmpty(flight.aircraft.name)}">
                <br /> <span th:text="${flight.aircraft.name}"></span>
              </span>
            </div>
            <div class="eight wide mobile two wide tablet two wide computer column">
              <span th:if="${flight.cabinClass != null}" th:text="${#messages.msg('cabinClass.' + flight.cabinClass)}"></span>
              <br />
              <strong><span th:text="${flight.seatNumber}"></span></strong>
              <br />
              <span th:if="${flight.seatType != null}" th:text="${#messages.msg('seatType.' + flight.seatType)}"></span>
            </div>
            <div class="eight wide mobile two wide tablet one wide computer column">
              <div class="mobile only">
                <span th:text="#{duration}"></span>: <span th:text="${flight.flightDurationString}"></span> h
                <br />
                <span th:text="#{distance}"></span>: <span th:text="${#numbers.formatDecimal(flight.flightDistance, 3, 'POINT', 0, 'COMMA')}"></span> km
              </div>
              <span class="mobile hidden" style="float: right;">
                <span th:text="${flight.flightDurationString}"></span> h
                <br />
                <span th:text="${#numbers.formatDecimal(flight.flightDistance, 3, 'POINT', 0, 'COMMA')}"></span> km
              </span>
            </div>
            <div class="eight wide mobile sixteen wide table two wide computer column">
              <span class="mobile hidden tablet hidden" style="float: right;">
                <a class="fluid ui primary mini button" th:href="@{/flights/edit/{id}(id=${flight.entityId})}">
                  <i class="edit icon"></i>
                  <span th:text="#{edit}"></span>
                </a>
                <br />
                <a class="fluid ui negative mini button" th:href="@{/flights/delete/{id}(id=${flight.entityId})}">
                  <i class="trash alternate icon"></i>
                  <span th:text="#{delete}"></span>
                </a>
              </span>
              <span class="mobile only tablet only">
                <a class="ui primary mini button" th:href="@{/flights/edit/{id}(id=${flight.entityId})}">
                  <i class="edit icon"></i>
                  <span th:text="#{edit}"></span>
                </a>
                <a class="ui negative mini button" th:href="@{/flights/delete/{id}(id=${flight.entityId})}">
                  <i class="trash alternate icon"></i>
                  <span th:text="#{delete}"></span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </div>

    </main>
  </body>
</html>
