<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: html(_, _, ~{::main})}">
  <body>
    <main>

      <h3 class="ui header">
        <i class="paper plane icon"></i>
        <div class="content">
          <span th:text="#{listFlights}"></span>
          <div class="sub header" th:text="#{allLoggedFlights}"></div>
        </div>
      </h3>
      <div class="ui divider"></div>

      <div th:if="${#lists.isEmpty(flights.items)}" class="ui message">
        <div class="header" th:text="#{noFlightsLoggedYet}"></div>
      </div>
      <div th:if="${not #lists.isEmpty(flights.items)}">
        <div th:replace="~{flights/include/list-flights :: pagination}">Pagination</div>
        <div th:replace="~{flights/include/list-flights :: flights}">Flights</div>
        <div th:replace="~{flights/include/list-flights :: pagination}">Pagination</div>
      </div>

    </main>
  </body>
</html>
