<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: html(_, _, ~{::main})}">
  <body>
    <main>

      <h3 class="ui header">
        <i class="user icon"></i>
        <div class="content">
          <span th:text="#{loginFailed}">Login failed!</span>
          <div class="sub header" th:text="#{errorDuringLogin}">Subtitle</div>
        </div>
      </h3>

      <div class="ui negative message" th:if="${registrationRestrictedException != null}">
        <div class="header" th:text="#{registrationNotAllowed}"></div>
        <p th:text="#{theRegistrationIsNotAllowedForYourEmailAddress}"></p>
        <p>
          <a class="ui primary button" th:href="@{/}" th:text="#{tryAgainWithDifferentAccount}"></a>
        </p>
      </div>
      <div class="ui negative message" th:if="${authenticationException != null}">
        <div class="header" th:text="#{loginFailed}"></div>
        <p th:text="#{loginFailed}"></p>
        <p>
          <a class="ui primary button" th:href="@{/}" th:text="#{loginFailed}"></a>
        </p>
      </div>

    </main>
  </body>
</html>
