<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: html(_, _, ~{::main})}">
  <body>
    <main>

      <h3 class="ui header">
        <i class="plane icon"></i>
        <div class="content">
          <span th:text="#{overview}">Title</span>
          <div class="sub header" th:text="#{yourPersonalFlightStatistics}">Subtitle</div>
        </div>
      </h3>
      <div class="ui divider"></div>

      <p style="border: 5px solid red;">
        Authenticated username:
        <div sec:authentication="principal.username"></div>
      </p>

      <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
      </div>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.
      </div>
      <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to users.
      </div>

    </main>
  </body>
</html>
