<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: html(_, ~{::head}, ~{::main})}">
  <body>
    <head>

      <script th:src="@{/webjars/openlayers/dist/ol.js}"></script>
      <script th:src="@{/webjars/arc.js/arc.js}"></script>
      <link rel="stylesheet" th:href="@{/webjars/openlayers/ol.css}" />

      <style>
        #map { height: 464px; border: 1px solid #dedede; }
        #filtered-flights-list { max-height: 500px; overflow-y: auto; }
        #filtered-flights-list.busy { min-height: 100px; }
      </style>

    </head>
    <main>

      <h3 class="ui header">
        <i class="home icon"></i>
        <div class="content">
          <span th:text="#{overview}">Title</span>
          <div class="sub header" th:text="#{yourPersonalFlightStatistics}">Subtitle</div>
        </div>
      </h3>
      <div class="ui divider"></div>

      <div class="ui grid">
        <div class="sixteen wide mobile eleven wide tablet twelve wide computer column">
          <div th:replace="~{overview/statistics :: totals-top}">STATISTICS</div>
          <br />
          <div th:replace="~{overview/map :: body}">MAP</div>
          <br />
          <div th:replace="~{overview/statistics :: totals-bottom}">STATISTICS</div>
        </div>
        <div class="sixteen wide mobile five wide tablet four wide computer column">
          <div th:replace="~{overview/filters :: body}">FILTERS</div>
        </div>
        <div class="sixteen wide column" th:unless="${#lists.isEmpty(filteredFlights)}">
          <div th:replace="~{overview/statistics :: records}">STATISTICS</div>
        </div>
        <div class="sixteen wide column" th:unless="${#lists.isEmpty(filteredFlights)}">
          <div th:replace="~{overview/flights :: body}">STATISTICS</div>
        </div>
        <div class="sixteen wide column" th:unless="${#lists.isEmpty(filteredFlights)}">
          <div th:replace="~{overview/statistics :: totals-after}">STATISTICS</div>
        </div>
      </div>

    </main>
  </body>
</html>
