<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

    <div th:fragment="form-body" th:remove="tag">

      <div class="ui horizontal divider" th:text="#{departureArrival}"></div>

      <div class="ui dense grid">

        <div class="six wide mobile four wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('departureDateLocal') ? 'error' : ''}">
            <label th:text="#{departureDate}"></label>
            <input id="departureDateLocal" type="date" th:field="*{departureDateLocal}" />
          </div>
        </div>
        <div class="six wide mobile four wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('departureTimeLocal') ? 'error' : ''}">
            <label th:text="#{departureTime}"></label>
            <input id="departureTimeLocal" type="time" th:field="*{departureTimeLocal}" />
          </div>
        </div>
        <div class="four wide mobile three wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('departureAirportCode') || (not #strings.isEmpty(flightUpdateEditor.departureAirportCode) && (not flightUpdateEditor.departureAirportKnown)) ? 'error' : ''}">
            <label th:text="#{airportCode}"></label>
            <input id="departureAirportCode" type="text" class="uppercase" th:field="*{departureAirportCode}" maxlength="3" autocomplete="off" />
          </div>
        </div>
        <div class="sixteen wide mobile five wide tablet ten wide computer column">
          <div class="field">
            <label><span th:text="#{departureAirport}"></span> <i id="departureAirportCountryCode" th:class="${#strings.isEmpty(flightUpdateEditor.departureAirportCountryCode) ? '' : ('flag ' + #strings.toLowerCase(flightUpdateEditor.departureAirportCountryCode))}"></i></label>
            <input id="departureAirportName" type="text" readonly tabindex="-1" th:value="*{departureAirportName}" th:placeholder="#{airportNameWillBeComputedAutomatically}" />
          </div>
        </div>

        <div class="six wide mobile four wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('arrivalDateLocal') ? 'error' : ''}">
            <label th:text="#{arrivalDate}"></label>
            <input id="arrivalDateLocal" type="date" th:field="*{arrivalDateLocal}" />
          </div>
        </div>
        <div class="six wide mobile four wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('arrivalTimeLocal') ? 'error' : ''}">
            <label th:text="#{arrivalTime}"></label>
            <input id="arrivalTimeLocal" type="time" th:field="*{arrivalTimeLocal}" />
          </div>
        </div>
        <div class="four wide mobile three wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('arrivalAirportCode') || (not #strings.isEmpty(flightUpdateEditor.arrivalAirportCode) && (not flightUpdateEditor.arrivalAirportKnown)) ? 'error' : ''}">
            <label th:text="#{airportCode}"></label>
            <input id="arrivalAirportCode" type="text" class="uppercase" th:field="*{arrivalAirportCode}" maxlength="3" autocomplete="off" />
          </div>
        </div>
        <div class="sixteen wide mobile five wide tablet ten wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('arrivalAirportCountryCode') ? 'error' : ''}">
            <label><span th:text="#{arrivalAirport}"></span> <i id="arrivalAirportCountryCode" th:class="${#strings.isEmpty(flightUpdateEditor.arrivalAirportCountryCode) ? '' : ('flag ' + #strings.toLowerCase(flightUpdateEditor.arrivalAirportCountryCode))}"></i></label>
            <input id="arrivalAirportName" type="text" readonly tabindex="-1" th:value="*{arrivalAirportName}" th:placeholder="#{airportNameWillBeComputedAutomatically}" />
          </div>
        </div>

        <div class="eight wide mobile four wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('flightDuration') ? 'error' : ''}">
            <label th:text="#{durationInHours}"></label>
            <input id="flightDuration" type="text" th:field="*{flightDuration}" placeholder="HH:mm" />
          </div>
        </div>
        <div class="eight wide mobile four wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('flightDistance') ? 'error' : ''}">
            <label th:text="#{distanceInKm}"></label>
            <input id="flightDistance" type="number" th:field="*{flightDistance}" placeholder="..." />
          </div>
        </div>

      </div>

      <div class="ui horizontal divider" th:text="#{otherData}"></div>

      <div class="ui dense grid">

        <div class="eight wide mobile two wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('airlineCode') ? 'error' : ''}">
            <label th:text="#{airlineCode}"></label>
            <input id="airlineCode" type="text" class="uppercase" th:field="*{airlineCode}" minlength="2" maxlength="2" />
          </div>
        </div>
        <div class="eight wide mobile two wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('flightNumber') ? 'error' : ''}">
            <label th:text="#{flightNumber}"></label>
            <input type="text" class="uppercase" th:field="*{flightNumber}" maxlength="5" inputmode="decimal" />
          </div>
        </div>
        <div class="sixteen wide mobile four wide tablet three wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('airlineName') ? 'error' : ''}">
            <label th:text="#{airlineName}"></label>
            <input id="airlineName" type="text" th:field="*{airlineName}" />
          </div>
        </div>
        <div class="eight wide mobile three wide tablet three wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('aircraftType') ? 'error' : ''}">
            <label th:text="#{aircraftType}"></label>
            <input type="text" th:field="*{aircraftType}" />
          </div>
        </div>
        <div class="eight wide mobile two wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('aircraftRegistration') ? 'error' : ''}">
            <label th:text="#{registration}"></label>
            <input type="text" class="uppercase" th:field="*{aircraftRegistration}" />
          </div>
        </div>
        <div class="sixteen wide mobile three wide tablet four wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('aircraftName') ? 'error' : ''}">
            <label th:text="#{aircraftName}"></label>
            <input type="text" th:field="*{aircraftName}" />
          </div>
        </div>

        <script>
          registerAirportCodeChangeListener($("input#departureAirportCode"), $("input#departureAirportName"), $("#departureAirportCountryCode"));
          registerAirportCodeChangeListener($("input#arrivalAirportCode"), $("input#arrivalAirportName"), $("#arrivalAirportCountryCode"));
          registerAirlineCodeChangeListener($("input#airlineCode"), $("input#airlineName"));
          registerRouteChangeListener($("input#departureAirportCode"), $("input#departureDateLocal"), $("input#departureTimeLocal"), $("input#arrivalAirportCode"), $("input#arrivalDateLocal"), $("input#arrivalTimeLocal"), $("input#flightDuration"), $("input#flightDistance"));
        </script>

        <div class="eight wide mobile two wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('seatNumber') ? 'error' : ''}">
            <label th:text="#{seatNumber}"></label>
            <input type="text" class="uppercase" th:field="*{seatNumber}" maxlength="4" />
          </div>
        </div>
        <div class="eight wide mobile two wide tablet two wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('seatType') ? 'error' : ''}">
            <label th:text="#{seatType}"></label>
            <select class="ui dropdown" th:field="*{seatType}">
              <option value=""></option>
              <option th:each="seatTypeValue : ${seatTypeValues}" th:value="${seatTypeValue.name()}" th:text="${#messages.msg('seatType.' + seatTypeValue.name())}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile four wide tablet three wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('cabinClass') ? 'error' : ''}">
            <label th:text="#{cabinClass}"></label>
            <select class="ui dropdown" th:field="*{cabinClass}">
              <option value=""></option>
              <option th:each="cabinClassValue : ${cabinClassValues}" th:value="${cabinClassValue.name()}" th:text="${#messages.msg('cabinClass.' + cabinClassValue.name())}"></option>
            </select>
          </div>
        </div>
        <div class="eight wide mobile three wide tablet three wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('flightReason') ? 'error' : ''}">
            <label th:text="#{flightReason}"></label>
            <select class="ui dropdown" th:field="*{flightReason}">
              <option value=""></option>
              <option th:each="flightReasonValue : ${flightReasonValues}" th:value="${flightReasonValue.name()}" th:text="${#messages.msg('flightReason.' + flightReasonValue.name())}"></option>
            </select>
          </div>
        </div>
        <div class="sixteen wide mobile five wide tablet six wide computer column">
          <div class="field" th:classappend="${#fields.hasErrors('comment') ? 'error' : ''}">
            <label th:text="#{comment}"></label>
            <input type="text" th:field="*{comment}" />
          </div>
        </div>

      </div>

      <div class="ui horizontal divider" th:text="#{actions}"></div>
      <div class="ui dense grid">
        <div class="sixteen wide right aligned column">
          <a class="ui negative button" th:if="${flightUpdateEditor.entityId != null}" th:href="@{/flights/delete/{flightEntityId}(flightEntityId=${flightUpdateEditor.entityId})}">
            <i class="trash alternate icon"></i>
            <span th:text="#{delete}"></span>
          </a>
          <button type="submit" class="ui primary button">
            <i class="save icon"></i>
            <span th:text="#{save}"></span>
          </button>
        </div>
      </div>

    </div>

  </body>
</html>
