<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>

    <div th:fragment="flights" class="ui segments" id="flights-list">
      <div th:each="flight : *{flights.items}" class="ui segment">
        <div th:replace="~{this :: flight(flight=${flight})}">FLIGHT</div>
      </div>
    </div>

    <div th:fragment="pagination" th:if="${flights.pagination.totalPages > 1}" class="ui center aligned pagination menu">
      <div class="disabled item" th:text="#{page}">Page</div>
      <div th:remove="tag" th:each="paginationLink: ${flights.pagination.toLinks(2)}">
        <div class="active item" th:if="${flights.pagination.pageNumber == paginationLink.pageNumber}">
          <span th:text="${paginationLink.pageNumber + 1}"></span>
        </div>
        <div class="disabled item" th:if="${paginationLink.spacer}" th:text="...">...</div>
        <a class="item" th:if="${flights.pagination.pageNumber != paginationLink.pageNumber && !paginationLink.spacer}" th:href="@{/flights/list/{pageNumber}(pageNumber=${paginationLink.pageNumber})}">
          <span th:text="${paginationLink.pageNumber + 1}"></span>
        </a>
      </div>
    </div>

    <div th:fragment="flight(flight)" class="ui dense grid">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div>
          <span th:text="${#temporals.format(flight.departureContact.dateLocal, 'dd.MM.yyyy')}"></span>
          <span th:text="${#temporals.format(flight.departureContact.timeLocal, 'HH:mm')}"></span>
        </div>
        <div>
          <strong><span th:text="${flight.departureContact.airport.code}">XXX</span></strong>
          <span>
            <i class="flag" th:classappend="${#strings.toLowerCase(flight.departureContact.airport.countryCode)}"></i>
          </span>
        </div>
        <div class="smalltext" th:text="${flight.departureContact.airport.name}">Airport name</div>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <div>
          <span th:text="${#temporals.format(flight.arrivalContact.dateLocal, 'dd.MM.yyyy')}"></span>
          <span th:text="${#temporals.format(flight.arrivalContact.timeLocal, 'HH:mm')}"></span>
          <span th:if="${flight.arrivalContact.dateOffset}">
            (<span th:text="${flight.arrivalContact.dateOffset}">+0</span>)
          </span>
        </div>
        <div>
          <strong><span th:text="${flight.arrivalContact.airport.code}">XXX</span></strong>
          <span>
            <i class="flag" th:classappend="${#strings.toLowerCase(flight.arrivalContact.airport.countryCode)}"></i>
          </span>
        </div>
        <div class="smalltext" th:text="${flight.arrivalContact.airport.name}">Airport name</div>
      </div>
      <div class="eight wide mobile four wide tablet three wide computer column">
        <div th:text="${flight.airline.name}"></div>
        <div>
          <strong>
            <span th:text="${flight.airline.code}"></span>
            <span th:text="${flight.flightNumber}"></span>
          </strong>
        </div>
        <div th:unless="${#strings.isEmpty(flight.aircraft.type)}" th:text="${flight.aircraft.type}"></div>
        <div th:unless="${#strings.isEmpty(flight.aircraft.registration)}" th:text="${flight.aircraft.registration}"></div>
        <div th:unless="${#strings.isEmpty(flight.aircraft.name)}" th:text="${flight.aircraft.name}"></div>
      </div>
      <div class="eight wide mobile two wide tablet two wide computer column">
        <div th:text="${flight.cabinClass == null ? '' : #messages.msg('cabinClass.' + flight.cabinClass)}"></div>
        <div>
          <strong th:text="${flight.seatNumber}"></strong>
        </div>
        <div th:text="${flight.seatType == null ? '' : #messages.msg('seatType.' + flight.seatType)}"></div>
        <div th:text="${flight.flightReason == null ? '' : #messages.msg('flightReason.' + flight.flightReason)}"></div>
      </div>
      <div class="eight wide mobile two wide tablet one wide computer column">
        <div class="mobile only" th:unless="${#strings.isEmpty(flight.flightDurationString)}">
          <span style="display: inline-block; min-width: 60px;"><span th:text="#{duration}"></span>:</span>
          <span style="display: inline-block; min-width: 50px; text-align: right;" th:text="${flight.flightDurationString}"></span> h
        </div>
        <div class="mobile only">
          <span style="display: inline-block; min-width: 60px;"><span th:text="#{distance}"></span>:</span>
          <span style="display: inline-block; min-width: 50px; text-align: right;" th:text="${#numbers.formatDecimal(flight.flightDistance, 2, 'POINT', 0, 'COMMA')}"></span> km
        </div>
        <span class="mobile hidden" style="float: right; text-align: right;">
          <div th:unless="${#strings.isEmpty(flight.flightDurationString)}">
            <span th:text="${flight.flightDurationString}"></span> h
          </div>
          <div>
            <span th:text="${#numbers.formatDecimal(flight.flightDistance, 2, 'POINT', 0, 'COMMA')}"></span> km
          </div>
        </span>
      </div>
      <div class="eight wide mobile sixteen wide table two wide computer column">
        <span class="mobile hidden tablet hidden" style="float: right;">
          <a class="fluid ui primary mini button" th:href="@{/flights/edit/{id}(id=${flight.entityId})}">
            <i class="edit icon"></i>
            <span th:text="#{edit}"></span>
          </a>
          <br />
          <a class="fluid ui negative mini button" th:href="@{/flights/delete/{id}(id=${flight.entityId})}">
            <i class="trash alternate icon"></i>
            <span th:text="#{delete}"></span>
          </a>
        </span>
        <span class="mobile only tablet only">
          <a class="ui primary mini button" th:href="@{/flights/edit/{id}(id=${flight.entityId})}">
            <i class="edit icon"></i>
            <span th:text="#{edit}"></span>
          </a>
          <a class="ui negative mini button" th:href="@{/flights/delete/{id}(id=${flight.entityId})}">
            <i class="trash alternate icon"></i>
            <span th:text="#{delete}"></span>
          </a>
        </span>
      </div>
    </div>

    <div th:fragment="flight-compact(flight)" class="ui dense grid">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <span th:text="${#temporals.format(flight.departureContact.dateLocal, 'dd.MM.yyyy')}"></span>
        <span th:text="${#temporals.format(flight.departureContact.timeLocal, 'HH:mm')}"></span>
        &nbsp;
        <strong><span th:text="${flight.departureContact.airport.code}">XXX</span></strong>
        <span class="mobile hidden">
          <i class="flag" th:classappend="${#strings.toLowerCase(flight.departureContact.airport.countryCode)}"></i>
        </span>
        <div class="smalltext">
          <span class="mobile only">
            <i class="flag" th:classappend="${#strings.toLowerCase(flight.departureContact.airport.countryCode)}"></i>
          </span>
          <span th:text="${flight.departureContact.airport.name}"></span>
        </div>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <span th:text="${#temporals.format(flight.arrivalContact.dateLocal, 'dd.MM.yyyy')}"></span>
        <span th:text="${#temporals.format(flight.arrivalContact.timeLocal, 'HH:mm')}"></span>
        <span th:if="${flight.arrivalContact.dateOffset}" class="mobile hidden">
          (<span th:text="${flight.arrivalContact.dateOffset}">+0</span>)
        </span>
        &nbsp;
        <strong><span th:text="${flight.arrivalContact.airport.code}">XXX</span></strong>
        <span class="mobile hidden">
          <i class="flag" th:classappend="${#strings.toLowerCase(flight.arrivalContact.airport.countryCode)}"></i>
        </span>
        <div class="smalltext">
          <span class="mobile only">
            <i class="flag" th:classappend="${#strings.toLowerCase(flight.arrivalContact.airport.countryCode)}"></i>
          </span>
          <span th:text="${flight.arrivalContact.airport.name}"></span>
          <span th:if="${flight.arrivalContact.dateOffset}" class="mobile only">
            (<span th:text="${flight.arrivalContact.dateOffset}">+0</span>)
          </span>
        </div>
      </div>
      <div class="four wide mobile two wide tablet two wide computer column">
        <div>
          <strong>
            <span th:text="${flight.airline.code}"></span>
            <span th:text="${flight.flightNumber}"></span>
          </strong>
        </div>
        <div class="smalltext" th:text="${flight.airline.name}"></div>
      </div>
      <div class="four wide mobile two wide tablet two wide computer column">
        <div>
          <strong th:text="${flight.seatNumber}"></strong>
          <span class="smalltext" th:unless="${flight.cabinClass == null}">
            (<span th:text="${#messages.msg('cabinClass.' + flight.cabinClass)}"></span>)
          </span>
        </div>
        <div class="smalltext" th:text="${flight.aircraft.type}"></div>
      </div>
      <div class="four wide mobile two wide tablet two wide computer column">
        <div>
          <strong>
            <span th:text="${flight.flightDurationString}"></span> h
          </strong>
        </div>
        <div class="smalltext" th:text="#{duration}"></div>
      </div>
      <div class="four wide mobile two wide tablet two wide computer column">
        <div>
          <strong>
            <span th:text="${#numbers.formatDecimal(flight.flightDistance, 3, 'POINT', 0, 'COMMA')}"></span> km
          </strong>
        </div>
        <div class="smalltext" th:if="${flight.flightAverageSpeed != null}">
          ~ <span th:text="${flight.flightAverageSpeedString}">123</span> km/h
        </div>
      </div>
    </div>
  </body>
</html>
